body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightcoral;
}

#settingsContainer {
    padding-top: 1rem;
}

#container {
    background-color: white;
    border: 5px solid black;
    border-radius: 5px;
    width: 1000px;
    height: 1000px;
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

/* Remove from comment if you need gridlines*/
/* .box {
    border: 1px solid red;
}  */

.box, .col {
    flex-grow: 1;
}

button {
    width: 8rem;
    height: 2rem;
    font-size: x-large;
}

label {
    font-size: x-large;
}